@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;700&display=swap");

body {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

body, h1, h2, h3, h4, p, a, span, div {
  font-family: "Playfair Display", serif !important;
}


.nav-link-custom {
  font-size: 0.9rem;
  font-weight: 300; /* Light font for an elegant look */
}

.nav-link-custom:hover {
  text-decoration: underline;
  font-style: normal;
}

.text-muted {
  color: #6c757d !important; /* Ensures a muted text color */
}

.contact-link {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.contact-link:hover {
  color: #6c757d; /* Grey color matching Navbar */
}

@media (max-width: 768px) {
  iframe {
    height: 400px; /* Reduce height for mobile */
  }
}