@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;700&display=swap");

body {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  background-color: #FEF6DC !important; /* Light Beige */
  color: #9A8C0A !important;
}


body, h1, h2, h3, h4, p, a, span, div {
  font-family: "Playfair Display", serif !important;
}

/* Ensure all links inherit color */
a, h1, h2, h3, h4, h5, h6, p, span {
  color: #9A8C0A !important;
}

.page-content {
  padding-top: 4rem; /* Adjust as needed */
}

.nav-link-custom {
  font-size: 0.9rem;
  font-weight: 300; /* Light font for an elegant look */
}

.nav-link-custom:hover {
  text-decoration: underline;
  font-style: normal;
}

.text-muted {
  color: #6c757d !important; /* Ensures a muted text color */
}

.contact-link {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.contact-link:hover {
  color: #6c757d; /* Grey color matching Navbar */
}

/* Style for work-detail text */
/* Ensure all text inside .work-detail is #604C11 */
.work-detail,
.work-detail h2,
.work-detail p,
.work-detail button {
  color: #604C11 !important;
}


/* Ensure project navigation stays default */
.project-navigation {
  color: inherit !important; 
}
