body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

.nav-link-custom {
  font-family: "Playfair Display", serif;
  font-size: 0.9rem;
  font-weight: 300; /* Light font for an elegant look */
  font-style: italic;
}

.nav-link-custom:hover {
  text-decoration: underline;
  font-style: normal;
}

.text-muted {
  color: #6c757d !important; /* Ensures a muted text color */
}

.contact-link {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.contact-link:hover {
  color: #6c757d; /* Grey color matching Navbar */
}
